<section class="hero-header  {% if header_layout == 'large' %}large{% elseif header_layout == 'small' %}small{% endif %}" style="background-image: url({{ SP.ACF.get_sub_field('background_image').url }})">
    <div class=" text-center">
        <h1>{{ SP.ACF.get_sub_field('heading') }}</h1>
        {% if SP.ACF.get_sub_field('subtitle') %}
            <p>{{ SP.ACF.get_sub_field('subtitle') }}</p>
        {% endif %}
         {% if header_layout == "large" %}
            <a href="{{ SP.ACF.get_sub_field('button_url') }}" class="large primary button">{{ SP.ACF.get_sub_field('button_text') }}</a>
        {% endif %}
    </div>
</section>
